.wrapper {
  overflow: hidden;
  position: relative;
}

button {
  border: none;
  outline: none;
}

a {
  @include animate(color);

  text-decoration: none;
}

.row {
  margin: 0 -15px;
}

h1 {
  font-family: $museo-font;
  font-weight: 400;
  margin-bottom: 24px;
}

h2 {
  font-weight: 400;
}

.btn {
  @include animate(background-color);

  font-size: 17px;
  background-color: $mint;
  min-width: 295px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding: 14px 10px;

  &:hover,
  &:focus {
    background-color: $light-mint;
  }
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero-section {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  padding: 60px 0;

  .standart-img {

    width: 100%;
    text-align: right;
    padding: 0 15px;

    @include media('>=desktop') {
      text-align: left;
      width: auto;
      align-self: flex-start;
    }

    img {
      max-width: 138px;

      @include media('>=desktop') {
        max-width: 181px;
      }
    }
  }

  .col-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 120px);
    align-items: center;
    max-height: 430px;

    @include media('>=desktop') {
      height: auto;
      max-height: none;
      min-height: 200px;
      flex-direction: row;
      justify-content: space-between;
    }

    @include media('>=1300px') {
      min-height: 430px;
    }
  }

  .text-col {
    width: 100%;
    padding: 0 15px;
    text-align: center;

    @include media('>=desktop') {
      width: 50%;
    }
  }
}

.tab {
  @include animate(opacity visibility height);

  &.slide-fade-leave-to {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  &.slide-fade-enter {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
}


.test-packet {
  padding: 30px 0;

  @include media('>=desktop') {
    padding: 52px 0;
  }

  .btn {
    width: 100%;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tab {
    //@include animate (opacity visibility height);
    //
    //opacity: 0;
    //visibility: hidden;
    //height: 0;
    //
    //&.active {
    //	opacity: 1;
    //	visibility: visible;
    //	height: auto;
    //}

    img {
      width: 100%;
    }
  }

  .tab-content {
    width: 100%;
    padding: 0 15px;
    position: relative;
    margin: 0 0 70px;

    @include media('>=desktop') {
      width: 50%;
      margin: 0;
    }
  }

  .tab-info {
    padding: 0 15px;

    @include media('>=desktop') {
      width: 40.5%;
      padding-bottom: 20px;
    }
  }

  .product-list {
    margin: 0 0 52px;
    padding: 0 0 0 15px;

    .mint {
      color: $mint;
    }

    a {
      &:hover {
        color: $light-mint;
      }
    }
  }

  .standart-img {
    position: absolute;
    top: 10%;
    z-index: 10;
    width: 34%;
    left: 6%;

    @include media('>=tablet') {
      width: 27%;
      left: 9%;
    }
  }

  h2 {
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 15px;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .tabset-nav {
    @extend %listreset;

    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    li {
      padding: 0 5px;
      width: 30%;
      margin-bottom: 10px;

      @include media('>=desktop') {
        width: 20%;
        margin-bottom: 30px;
      }

      .button {
        @include animate(color background-color border-color);
        display: block;
        text-align: center;
        width: 100%;
        background: transparent;
        border: 1px solid $gray;
        color: $gray;
        font-size: 24px;
        padding: 3px 5px;
        line-height: 1.4;

        @include media('>=desktop') {
          font-size: 20px;
        }

        p {
          margin-bottom: 0;
        }

        span {
          display: block;
          font-size: 12px;
        }

        &:hover,
        &:focus,
        &.active {
          background-color: $mint;
          color: $white;
          border-color: $mint;
        }
      }
    }
  }
}

.functionality {
  padding: 30px 0;
  background-color: $light-gray;

  @include media('>=desktop') {
    padding: 52px 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 77px;
  }

  .col-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;

    .img-holder {
      margin-bottom: 15px;

      img {
        @include media('<desktop') {
          width: 20% !important;
        }
      }
    }

    p {
      margin-bottom: 30px;
    }

    a {
      margin-bottom: 30px;
      display: block;

      @include media('>=desktop') {
        margin-bottom: 15px;
      }

      &:hover {
        color: $light-mint;
      }
    }

    .col {
      width: 100%;
      padding: 0 24px;
      text-align: center;
      margin-bottom: 35px;

      @include media('>=desktop') {
        width: 33.332%;
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.testpacket-description {
  padding: 30px 0;

  @include media('>=desktop') {
    padding: 52px 0;
  }

  h2 {
    margin-bottom: 77px;
    text-align: center;
  }

  .col-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;
  }

  .col {
    padding: 0 24px;
    width: 100%;
    display: flex;
    margin-bottom: 36px;


    @include media('>=desktop') {
      width: 50%;
      margin-bottom: 0;
    }

    .img-holder {
      width: 30%;
      margin-right: 20px;

      @include media('>=desktop') {
        width: 25%;
      }
    }

    .text-holder {
      width: calc(70% - 20px);

      @include media('>=desktop') {
        width: calc(75% - 20px);
      }
    }

    ul {
      margin: 0;
      padding: 0 0 0 16px;
    }

    .state-img {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
