@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraPro-Regular.woff") format("woff"),
  url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Museo";
  src: url("../fonts/Museo300-Regular.woff") format("woff"),
  url("../fonts/Museo300-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
